<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncAwaitBestPractices" version="9.0.0" targetFramework="net472" />
  <package id="Fody" version="6.9.2" targetFramework="net472" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.30.1" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.70.0" targetFramework="net472" />
  <package id="Grpc.Net.Client" version="2.70.0" targetFramework="net472" />
  <package id="Grpc.Net.Common" version="2.70.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.21.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Console" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Serilog.Formatting.Compact" version="3.0.0" targetFramework="net472" />
  <package id="Serilog.Settings.Configuration" version="9.0.1-dev-02317" targetFramework="net472" />
  <package id="Serilog.Sinks.ApplicationInsights" version="4.0.1-dev-00046" targetFramework="net472" />
  <package id="Serilog.Sinks.OpenTelemetry" version="4.2.0-dev-02302" targetFramework="net472" />
  <package id="SerilogTimings" version="3.1.0" targetFramework="net472" />
  <package id="System.Net.Http.WinHttpHandler" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Debug" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="10.0.0-preview.2.25163.2" targetFramework="net472" />
  <package id="PostSharp" version="2025.0.6" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common" version="2025.0.6" targetFramework="net472" />
  <package id="PostSharp.Patterns.Diagnostics" version="2025.0.6" targetFramework="net472" />
  <package id="Serilog.Enrichers.Environment" version="3.0.1" targetFramework="net472" />
  <package id="Serilog.Enrichers.Thread" version="4.0.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="6.0.1-dev-00953" targetFramework="net472" />
  <package id="log4net" version="3.0.4" targetFramework="net472" />
  <package id="MethodDecorator.Fody" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Log4Net.AspNetCore" version="8.0.0" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="2025.0.6" targetFramework="net472" />
  <package id="PostSharp.Patterns.Diagnostics.Log4Net" version="2025.0.6" targetFramework="net472" />
  <package id="PostSharp.Patterns.Diagnostics.Redist" version="2025.0.6" targetFramework="net472" />
  <package id="PostSharp.Redist" version="2025.0.6" targetFramework="net472" />
  <package id="Serilog" version="4.2.1-dev-02340" targetFramework="net472" />
  <package id="Serilog.Extensions.Logging" version="9.0.1-dev-02308" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="6.0.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Seq" version="9.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>