<?xml version="1.0" encoding="utf-8"?>
<license type="Non-Production Development" Applications="All" expiration="2025-05-24" id="8f33eae1-d9c2-45d1-a6b8-58f9277c8272">
    <name>smckean75@gmail.com</name>
    <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
        <SignedInfo>
            <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
            <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1" />
            <Reference URI="">
                <Transforms>
                    <Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature" />
                </Transforms>
                <DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1" />
                <DigestValue>gPLDrUW4cJrT7Ep3SUHq9PQD1F0=</DigestValue>
            </Reference>
        </SignedInfo>
        <SignatureValue>L2I4l552XQUkgLWnkUdTSe04jpp9aO0gp6YpwvzGngsXs4NrUHQsb+ACDEmkje4ZyIqvfTPh+tgQT5Frf9heKKxE2n2qHnWDH5yEbWUnxWKQ5lLfRQiVB6RGnj4lIvtDMYEQqOF9sgjp95fcnwuROgfD1aphNliP+xWl4uK8U88=</SignatureValue>
    </Signature>
</license>